log4j.logger.ros=INFO
log4j.logger.ros.joy=FATAL
log4j.logger.ros.roboteam_robothub=INFO
log4j.logger.ros.roboteam_tactics=INFO
log4j.logger.ros.roboteam_tactics.skills.SimpleDefender=WARN
log4j.logger.ros.roboteam_tactics.skills.GoToPos=WARN

log4j.logger.ros.roboteam_tactics.Control=WARN

log4j.logger.ros.roboteam_tactics.RobotDealer=INFO
log4j.logger.ros.roboteam_tactics.plays.Anouk_MDP=INFO
log4j.logger.ros.roboteam_tactics.OpportunityFinder=WARN
log4j.logger.ros.roboteam_world=DEBUG
log4j.logger.ros.roboteam_vision=INFO